@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* GOOGLE FONT*/
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

}

.header{
    width: 100%;
/*BCKG image gradient and file path do not change unless you want to change the background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.938),rgb(0, 0, 0)), url(/bkg/IMG_3.jpg);
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;


}
/* for nav bar on top spacing*/
nav{
    display: flex;
    padding: 2% 1.8%;
    justify-content: space-between;
    align-items: center;

}

/* for lop left image */
nav img{
    width: 150px;

}

/* nav bar spacing*/
.nav-links{
    flex: 1;
/* aligning nav bar*/
    text-align: right; 

}

/* aligning nav names and colors*/

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
    
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    

}
/* AFTER AND HOVER Create the hover affect fo rhte nav bar*/
.nav-links ul li::after {
    content:''; 
    width: 0%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto; 
    transition: 0.2s;
}

.nav-links ul li:hover::after {
    width: 100%;

}

.video-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    /* spacing for text boxes and button alignment*/
    transform: translate(-50%,-50%);
    text-align: center;


}

.video-box h1{
    font-size: 14px;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    /* spacing for text boxes and button alignment*/
    transform: translate(-50%,-50%);
    text-align: center;

    font-size: 62px;


}

.video-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;

}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f5372a;
    background: #f5372a;
    transition: .51s;
}

/* if text is still in the website this reduces the size of the text for smaller screens*/

nav .fa{
    display: none;
}

@media(max-width: 900px){
    .text-box h1{
        font-size: 10px;
    
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #000000f5;
        height: 23vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: center;
        z-index: 10;
        transition: .4s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
        
    }
}

/*2nd page*/

.events{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0)), url(/bkg/footer.png);
    box-sizing: border-box; /* This ensures that padding and borders are included in the total width and height */
    position: relative;
    background-size: cover;
    background-position: cover;


}




h1{
    font-size: 56px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;

}

p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
    

}
/*Adding the columns throughout the rows*/
.row{
    margin-top: 8%;
    display: flex;
    justify-content: space-around; /* This will provide space around each item */
    flex-wrap: wrap; /* Add this to ensure that items wrap on smaller screens */

}

/*adding the coloums colors and spacing*/
.events-col{
    flex-basis: 31%;
    background: #565656;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
    
    flex-basis: calc(33.333% - 40px); /* Adjust the 40px to account for the desired spacing */
    margin: 20px; /* This will be the space around each block */
    /* Other styles remain the same */


}

/*making the spacing happy*/
h3{
    text-align: center;
    font-weight: 750;
    margin: 10px 0;
    color: #ffffff;
    font-family: cursive;

}


@media(max-width: 900px){
    .row{
        flex-direction: column;
        background-color: #000000;
    }

    .events-col {
        padding: 20px 10px; /* Adjusted padding for top/bottom and left/right */

    }


}


/* FOOTER  */

body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
        background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0)), url(/bkg/footer.png);
        padding:37px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    

    /*ALL RIGHTS RESERVED*/
    .footer .row{
    width:100%;

    margin: .5% 0%;
    padding:0.9% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    /*all other icons*/
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.3s;
        bottom: 10px; /* Adjust distance from the bottom */

    }
    
    .footer .row a:hover{
    color:#ff9797;
    }
    
    .footer .row ul{
    width:100%;
    
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:center;
    padding: 5%;
    
    }

    .footer .row ul {
        text-align: center;
        padding: 0;
        display:inline-block;

    }
    .footer .row ul li{
    margin:10px 0px;
    text-align:center;
    display:inline-block;

    }
    .footer .row a i{
        margin:10px 10px;
        display:inline-block;

    }
    
    }



    /*======= Cards Css =======*/
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    position: relative;
    padding-bottom: 20%;
    padding: right 100px; 

}
.card-content{
    position: relative;
    background: #5c0c0c;
    width: 560px;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.card-content .card-img{
    position: relative;
    width: 560px; /* or any desired width */
    height: 470px; /* or any desired height */
    object-fit: cover; 
    justify-content: center;
    align-items: center;
}


.card-content .card-img img{
    width: 100%;
    height: 100%;


}


.card-text{
    margin: 15px;
    font-size: 1em;
}

.card-content:hover{
    box-shadow: 0 0 50px 0px #ffb300;
}

/*creating a clur effect on the cards of the website (course cols)*/
.card-content > .card-content:not(:hover){
    filter: blur(3px);
    transform: scale(0.95);


}


/*======= Media queries (max-width: 490px) =======*/
@media(max-width: 490px) {
    .card-container{
        margin: 30px 25px;
        flex-direction: column;

    }

    .card-content{
        width: 100%;
    }

    .card-content .card-img{
        width: 100%;
    }

    .card-text p {
        font-size: .85em;
    }
}
