*{
    margin: 0;
    padding: 0;
    /* GOOGLE FONT*/
    font-family: 'Inter', sans-serif;    

}


.header{
    height: 50vh;
    width: 100%;
    /*BCKG image gradient and file path do not change unless you want to change the background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.312),rgba(8, 0, 0, 0.229)), url(IMG_3.jpg);
    background-position: center;
    background-size: cover;
}

h1{
    text-align: center;
}

/* for nav bar on top spacing*/
nav{
    display: flex;
    padding: 2% 1.8%;
    justify-content: space-between;
    align-items: center;

}

/* for lop left image */
nav img{
    width: 150px;

}

/* nav bar spacing*/
.nav-links{
    flex: 1;
/* aligning nav bar*/
    text-align: right; 

}

/* aligning nav names and colors*/

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/* AFTER AND HOVER Create the hover affect fo rhte nav bar*/
.nav-links ul li::after {
    content:''; 
    width: 0%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto; 
    transition: 0.2s;
}

.nav-links ul li:hover::after {
    width: 100%;

}



/* if text is still in the website this reduces the size of the text for smaller screens*/
nav .fa{
    display: none;
}

@media(max-width: 900px){
    .text-box h1{
        font-size: 10px;
    
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #000000f5;
        height: 23vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: center;
        z-index: 10;
        transition: .4s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
        
    }
}
